In [6]:
from pathlib import Path
import pandas as pd

In [18]:
# file path to the interim data to be cleaned
FILE_PATH = Path.cwd().resolve().parents[0] / "data" / "interim" / "raw_data.csv"

In [19]:
df = pd.read_csv(FILE_PATH)

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3638436 entries, 0 to 3638435
Data columns (total 26 columns):
 #   Column             Dtype
---  ------             -----
 0   month              int64
 1   time               int64
 2   day                int64
 3   place              int64
 4   m_age              int64
 5   m_nativity         int64
 6   m_edu              int64
 7   num_of_prenatals   int64
 8   WIC                object
 9   smoker             object
 10  m_bmi              float64
 11  pre_diabetes       object
 12  gest_diabetes      object
 13  pre_hypertension   object
 14  gest_hypertension  object
 15  eclampsia          object
 16  preterm_births     object
 17  infert_treatment   object
 18  fert_drugs         object
 19  prev_c_section     object
 20  no_infections      int64
 21  induction          object
 22  steroids           object
 23  antibiotics        object
 24  anesthesia         object
 25  delivery_method    int64
dtypes: float64(1), int64(10), object(15)
memory usage: 721.7+ MB

In [20]:
df.head()

,month,time,day,place,m_age,m_nativity,m_edu,num_of_prenatals,WIC,smoker,...,preterm_births,infert_treatment,fert_drugs,prev_c_section,no_infections,induction,steroids,antibiotics,anesthesia,delivery_method
0,1,501,2,1,30,1,3,8,N,N,...,N,N,X,N,1,N,N,N,N,1
1,1,509,3,1,28,1,6,13,N,N,...,N,N,X,N,1,N,N,N,N,1
2,1,525,3,1,41,1,6,11,N,N,...,Y,N,X,Y,1,N,N,Y,Y,1
3,1,1910,2,2,29,1,4,10,N,N,...,N,N,X,N,1,N,N,N,N,1
4,1,2241,2,1,28,1,6,13,N,N,...,Y,N,X,N,1,N,N,N,N,1

In [21]:
df.describe()

,month,time,day,place,m_age,m_nativity,m_edu,num_of_prenatals,m_bmi,no_infections,delivery_method
count,3.638436e+06,3.638436e+06,3.638436e+06,3.638436e+06,3.638436e+06,3.638436e+06,3.638436e+06,3.638436e+06,3.638436e+06,3.638436e+06,3.638436e+06
mean,6.565899e+00,1.221814e+03,4.054787e+00,1.023927e+00,2.967069e+01,1.250608e+00,4.546062e+00,1.255017e+01,2.966213e+01,1.006431e+00,1.334787e+00
std,3.429071e+00,6.494234e+02,1.860839e+00,1.533847e-01,5.813960e+00,4.383281e-01,1.869960e+00,1.262833e+01,1.303674e+01,5.298688e-01,5.496156e-01
min,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.200000e+01,1.000000e+00,1.000000e+00,0.000000e+00,1.300000e+01,0.000000e+00,1.000000e+00
25%,4.000000e+00,7.520000e+02,3.000000e+00,1.000000e+00,2.500000e+01,1.000000e+00,3.000000e+00,9.000000e+00,2.290000e+01,1.000000e+00,1.000000e+00
50%,7.000000e+00,1.230000e+03,4.000000e+00,1.000000e+00,3.000000e+01,1.000000e+00,4.000000e+00,1.100000e+01,2.660000e+01,1.000000e+00,1.000000e+00
75%,1.000000e+01,1.732000e+03,6.000000e+00,1.000000e+00,3.400000e+01,1.000000e+00,6.000000e+00,1.300000e+01,3.210000e+01,1.000000e+00,2.000000e+00
max,1.200000e+01,9.999000e+03,7.000000e+00,3.000000e+00,5.000000e+01,3.000000e+00,9.000000e+00,9.900000e+01,9.990000e+01,9.000000e+00,9.000000e+00